.card{
    border: 1px solid wheat;
    width: 100px;}

.logo {
    height: 6em;
    /* padding: 1em; */
    will-change: filter;
    transition: filter 300ms;
    margin: 0;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }